@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --BABY_POWDER: #FFFDFA;
    --ULTRA_VIOLET: #544D93;
    --SPACE_CADET: #2A274A;
    --ROSE_POMPADOUR: #E983A0;
    --BLUSH: #E36488;
}

* {
    font-family: "Noto Sans Mono", sans-serif;
}

body {
    /*background: #e5e5f7;*/
    background-color: var(--BABY_POWDER);
    background-image: radial-gradient(var(--SPACE_CADET) 0.45px, var(--BABY_POWDER) 0.45px);
    background-size: 3px 3px;
    margin-top: 50px;
    margin-left: 60px;
}

h1 {
    display: inline-block;
    background-color: var(--BABY_POWDER);
    margin: 10px 0px;
    font-size: 8em;
    color: var(--SPACE_CADET);
}

.param {
    background-color: var(--BABY_POWDER);
   /* border-radius: 50px;*/
}

div p {
    margin: 10px 0px;
    font-size: 2em;
    color: var(--SPACE_CADET);
    line-height: 90%;
}

.chart {
    width: 94%;
    height: 320px;
}

footer p {
    display: inline-block;
    background-color: var(--BABY_POWDER);
    font-size: 1em;
    color: var(--SPACE_CADET);
}